.bordeexterno {
margin:0 auto;
width:760px;	
}

.contenedor {
margin:0 auto;
width:760px;	
}

.cabecera {
	
}

.cabecera table {
margin:0 auto;
border-collapse:collapse;
border-spacing:0px;
border:0px;	
}

.cabecera td {
padding:0px;
border:0px;	
}

.menu {
	
}

.menu ul,.menu li {
display:inline;	
}

.menu li {
float:left;
border-right:1px solid #c39cc4;
margin-top:7px;
margin-bottom:20px;
padding-left:5px;
padding-right:5px;
font-size:15px;
}

.menu ul li a:link,.menu ul li a:visited,.menu ul li a:hover,.menu ul li a:focus,.menu ul li a:active {
color:#bababa;
text-decoration:none;
}

.menu ul li a.page {
color:#9bcd05;
}

.menu ul .mapa {
border-right:0px solid #bdbdbd;
}

.cuerpo {
	
}

.izquierda {
font-size:15px;
width:550px;
color:#8e8e8a;	
float:left;
height:350px;
}

.derecha {
border-top:3px solid #9bcd05;
background-color:#f4f4f4;
float:right;
color:#c39cc4;
height:350px;
width:190px;
margin-bottom:25px;
}

.derecha ul li a:link,.derecha ul li a:visited,.derecha ul li a:hover,.derecha ul li a:focus,.derecha ul li a:active {
color:#bababa;
font-size:15px;	
text-decoration:none;
}

.derecha ul li a:hover {
color:#9bcd05;	
}

.custom-list {
list-style-type: none;
padding-left:10px;
}

.separador {
padding-top:10px;
padding-bottom:10px;	
}

.custom-list li::before {
content: "::";
margin-right: 8px;
}

ul.custom-list li a.presupuesto {
color:#9567bd;
}

.pie {
padding-top:5px;
clear:both;
border-top:1px solid #9bcd05;	
}

.pie ul,.pie li {
display:inline;	
}

.pie ul li {
padding-left:5px;
padding-right:10px;
border-right:1px solid #bdbdbd;	
}

.pie ul li a {
color:#bdbdbd;
text-decoration:none;	
}

.pie ul li.contactar {
border-right:0px solid #bdbdbd;	
}