main {
margin:0 auto;
width:75%;
}

header {
background-color:#006dff;
padding-top:5px;
padding-bottom:5px;
}

nav.menu {
border-bottom:1px solid #666666;
margin-bottom:10px;	
}

nav.menu ul,nav.menu li {
display:inline;
}

nav.menu li {
margin-left:5px;
}

nav.menu ul li a:link,nav.menu ul li a:visited,nav.menu ul li a:focus,nav.menu ul li a:active {
font-size:0.8em;
color:#666666;
font-family:sans-serif, verdana, arial, geneva;
text-decoration:none;
}

nav.menu ul li a:hover {
color:#000000;
text-decoration:underline;
}

nav.menu ul li a.page {
font-size:1em;
font-family:verdana,arial,helvetica,sans-serif;
color:#003399;	
}

section {
margin-bottom:62%;
}

aside.left {
float:left;
}

aside.left h1{
color:#ffffff;
background-color:#006dff;
font-size:15px;
padding-top:3px;
padding-bottom:3px;
margin-bottom:2px;	
}

aside.left ul {
list-style-type:none;
padding-left:0px;
margin-top:0px;
margin-bottom:0px;
}

aside.left ul li a:link,aside.left ul li a:visited,aside.left ul li a:focus,aside.left ul li a:active {
font-size:0.8em;
font-family:sans-serif, verdana, arial, geneva;
color:#666666;
text-decoration:none;
}

aside.left ul li a:hover {
border-bottom:1px solid #000000;
}

aside.left img {
border-top:10px solid #006dff;
background-color:#000000;
}

article {
margin-left:40px;
margin-right:40px;
float:left;
}

article p {
color:#0000ff;	
font-size:13px;
}

article p:hover {
border-bottom:1px solid #003399;
}

aside.right {
float:left;
width:22%;	
}

aside.right h1 {
font-size:0.9em;
color:#000000;
font-family:verdana,arial,helvetica,sans-serif;
background-color:#9b9b9b;
margin-top: 10px;
margin-bottom: 10px;
}

aside.right h1.contacto {
color:#ffffff;
background-color:#006dff;
}

aside.right ul {
border-bottom:1px solid #666666;
margin-top:0px;
padding-left:22px;
}

aside.right span.black {
font-weight:bold;	
}

aside.right ul.disccolor li::marker {
color:#006dff;
}

aside.right ul.image {
list-style-image:url('img/31.png');
}

aside.right ul li.espacio {
margin-left:20px;
}

aside.right ul li span.number,aside.right ul li a:link,aside.right ul li a:visited,aside.right ul li a:focus,aside.right ul li a:active {
font-size:0.8em;
font-family:arial,geneva,verdana,helvetica;
color:#666666;
text-decoration:none;
}

aside.right ul li a:hover {
color:#003399;
border-bottom:1px solid #003399;
}

nav.cuatro {
border-bottom:1px solid #666666;	
}

aside.right ul.interes {
list-style-type:none;
padding-left:0px;
margin-left:20px;
margin-bottom:0px;
border-bottom:0px solid #666666;
}

aside.right ul.interes li a:hover {
color:#ffcc00;
}

aside.right ul.interes a img {
margin-left:-20px;
}

nav.footer1,nav.footer2,article.footer3 {
clear:both;
}

nav.footer1 {
padding-top:5px;
margin-bottom:10px;
border-top:1px solid #666666;
}

nav.footer1 ul {
margin-left:13%;
}

nav.footer2 ul {
margin-left:5%;
}

nav.footer1 ul,nav.footer1 li,nav.footer2 ul,nav.footer2 li {
display:inline;
}

nav.footer1 ul li,nav.footer2 ul li {
border-left:1px solid #666666;
padding-left:5px;
margin:0 auto;
}

nav.footer1 ul li a:link,nav.footer1 ul li a:visited,nav.footer1 ul li a:focus,nav.footer1 ul li a:active,nav.footer2 ul li a:link,nav.footer2 ul li a:visited,nav.footer2 ul li a:focus,nav.footer2 ul li a:active {
font-size:0.8em;
font-family:arial,geneva,verdana,helvetica;
color:#666666;
text-decoration:none;
}

nav.footer1 ul li a:hover,nav.footer2 ul li a:hover {
border-bottom:1px solid #333333;
}

article.footer3 {
margin-top:15px;
margin-left:40%;
}