@media print {

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #000;
	font-size: 8pt;	
}

h1, h2, h3 { 
	page-break-after: avoid; 
	page-break-inside: avoid;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
	color: #000;
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
}

blockquote, pre { 
	page-break-inside: avoid;
}

ul, ol, dl, table { 
	page-break-before: avoid;
	page-break-inside: avoid;
}   


abbr, acronym  { 
	border-style:none;  
}

abbr:after, acronym:after { 
	content:" ["attr(title)"] "; 
	font-variant: small-caps;  
	font-size: 7pt;	
}

div#notacion div#medios {
	page-break-inside: avoid;
}

h1 {
	margin-top: 0;
}

h2 {
	margin-bottom: -0.7em;
	background-color: #FFE862;
	color: #000;	
}

h3 {
	margin-bottom: -1em;
}

#contenidos, 
.contenidos, 
#ayuda,
.herramientas {
	display: none;
}

table td {
	padding: 0.1em 0 0.1em 0;
}

th.descripcion {
	width: 20em;
}

p#modeloCajasImagen img {
	width: 296px;
	height: 224px;
}

p#modeloCajasImagen {
	width: 40%;
	float: left;
	margin-top: 2em;
}

div#margenesRelleno {
	clear: none;
	width: 59%;
	float: right;
	margin-top: 4em;
}

div#margenesRelleno th.descripcion {
	width: 11em;
}

div#margenesRelleno th.propiedad {
	width: 9em;
}

div#mediosPaginados th.descripcion {
	width: 25em;
}

h3#bordes {
	margin-top: 0.5em;
}

div#sintaxis pre {
	margin-top: 4em;
}

/* El logo de la oficina lo pone en pequeño en la esquina */
h1 img {
	width: 279px;
	height: 52px;
	margin-bottom: 1em;
}


/* Elimina los efectos de los enlaces */
td.valores a {
	text-decoration: none;
	border: none;
}

/* Fuerza el paginado */
h2#modeloCajas {
	page-break-before: always;
}

h2#fuentes {
	page-break-before: always;
}

h2#detallesVisual {
	page-break-before: always;
}

#referencias {
	text-align: right;
}

#referencias li {
	list-style: none;
}

#referencias a:after {
	content: ": [" attr(href) "]";
}

#piepagina .small, 
#piepagina address {
	display: none;
}

/* Los colores para la impresión */

table th {
	background: #B0C4DE;
	color: #000;
}

.impar {
	background-color: #FFF;
	color: #555;
}

tr {
	background-color: #E6ECF6;
	color: #222;
}


}