RewriteEngine On

RewriteRule ^index\.html$ - [L]

RewriteCond %{REQUEST_URI} ^/menu\.html$ [NC]
RewriteCond %{HTTP_COOKIE} !PHPSESSID= [NC]
RewriteRule ^.*$ /index.html [L]

RewriteCond %{REQUEST_URI} ^/config/(submit|logout)\.php$ [NC]
RewriteRule ^config/(submit|logout)\.php$ - [L]

RewriteCond %{REQUEST_URI} ^/config/ [NC]
RewriteCond %{HTTP_COOKIE} !PHPSESSID= [NC]
RewriteRule ^.*$ /index.html [L]
