main {
margin:0 auto;
width:100%;	
}

header {
color:#0b610b;
font-size:40px;
border:3px solid #0b610b;	
border-radius: 15px;
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;
}

nav {
border:3px solid #bdbdbd;
border-radius:15px;
padding-top:10px;
padding-bottom:10px;
margin-bottom:20px;
}

nav ul,nav li{
display:inline;	
}

nav ul {
margin-top:20px;
margin-bottom:20px;	
}

nav li{
border-right:1px solid #bdbdbd;
padding-right:40px;
padding-left:40px;
}

nav .courses {
border-right:0px solid #bdbdbd;
}

nav ul li a:link,nav ul li a:visited,nav ul li a:focus,nav ul li a:active {
color:#30b3f0;
text-decoration:none;
}

nav ul li a:hover {
color:#ff0000;
}

nav ul li a.page {
color:#000000;
}

section {
height:253px;
}

aside.left {
float:left;	
}

article.centr {
margin-left:70px;
float:left;
width:60%;
}

aside.right {
float:right;
}

footer {
margin-top:20px;
border-top:3px solid #0b610b;
clear:both;	
}

footer p {
margin-left:650px;
}