body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
}

/* cabeceras */
h1 {
	text-align: center;
}

a img {
	border: none;
}

h1, h2, h3  {
	clear: both;	
}

h2 {
	background-color: #FFE862;
	color: #000;
	font-variant: small-caps;
	margin-bottom: -0.5em;
	margin-top: 1em;
}

h3 {
	font-variant: small-caps;
	margin-bottom: -0.5em;
	margin-top: 1em;
}

/* La imagen de la cabecera */
h1 img {
	display: block;
	float: left;
}

code {
	font-family: monospace;
	color: #8E1A1A;
	background-color: transparent;
}

hr {
	margin-top: 2em;
	background-color: #4169E1;
	color: #000;
}

td.valores {
	font-family: monospace;
}

/* La tabla de contenidos */
ul.contenidos li {
	list-style: none;
	line-height: 1.2em;
}

.contenidos a,
.herramientas a {
	text-decoration: none;
	border-bottom: 1px #3E67A9 dotted;
}

.contenidos a:link, .contenidos a:visited,
.herramientas a:link, .herramientas a:visited  {
	color: #3E67A9;
	background-color: #fff;
}

.contenidos a:hover, .contenidos a:active,
.herramientas a:hover, .herramientas a:active {
	color: #3E67A9;
	background-color: #fff;
}

/* Tablas */
table {
		width: 100%;
}


table th {
	background: #B0C4DE;
	color: #000;
}

caption {
	visibility: hidden;
}

.impar {
	background-color: #FFF;
	color: #555;
}

tr {
	background-color: #E6ECF6;
	color: #222;
}


.center {
	text-align: center;
}


div#medios {
	width: 62%;	
	margin-bottom: 1em;
}

div#notacion {
	width: 37%;	
}

div#notacion {
	float: left;
	margin-right: 1%;
}

div#medios {
	float: left;
}

div#notacion table thead tr th:first-child, 
div#medios table thead tr th:first-child {
	width: 7em;
}


/* Las tablas de las propiedades */
/* Le asigna un tamaño fijo */
table thead tr th:first-child, th.propiedad {
	width: 12em;
}

th.valorInicial {
	width: 5em;
}

th.descripcion {
	width: 25em;
}


/* Las tablas de las unidades las presenta en tres columnas */

div#longitudes {
	width: 40%;
}

table#unidadesColores,
table#porcentaje {
	width: 60%;
}

div#longitudes {
	float: left;
}

table#unidadesColores thead tr th:first-child,
table#longitudesRelativas thead tr th:first-child,
table#porcentaje thead tr th:first-child,
table#longitudesAbsolutas thead tr th:first-child {
	width: 2em;
}

table#unidadesColores thead,
table#longitudesRelativas thead,
table#porcentaje thead,
table#longitudesAbsolutas thead {
	visibility: hidden;
	display: none;
}

div#sintaxis {
	width: 30%;
	float: left;
	margin-right: 1%;
}

div#unidades {
	width: 69%;
	float: left;
}


/* Establece el ancho de la columna patrón de los selectores */
table.selectores thead tr th:first-child {
	width: 8em;
}


/* Posiciona los márgenes a la derecha de la imagen del modelo de cajas */
p#modeloCajasImagen {
	text-align: center;
}

div#sintaxis pre {
	margin-top: 2em;
}

ul#referencias li {
	list-style-image: url(../img/arrow_right.gif);
}



/* El pié de página */
#piepagina {
	font-size: 70%;
	color: #555;
	background-color: #fff;
}

#piepagina a img {
	text-decoration: none;
	border: none;
}

.invisible {
	visibility: hidden;
}

/* La zona de la ayuda */
#ayuda {
	color: #191970;
	background-color: #FFD7D7;
	font-size: small;
	width: 90%;
	margin: 3em 0 0 5%;
}

#ayuda h2 {
	background-color: transparent;
}

.herramientas {
	text-align: right;
}
